$red--light: #fff5f5;
$red--firetruck: #f40000;
$red--pale: #fff5f5;
$red--not-really-red: #72161f;
$red--not-red-at-all-actually-pink: #ea4c89;

$blue--light: #e1fbff;
$blue--med: #185d8c;
$blue--dark: #214254;
$blue--hyper: #004fce;
