.content--main {
  background-color: #fff;
}

.section-heading {
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  margin: 0 auto;
  max-width: 900px;
  padding: 0 0.2rem;
  text-align: center;
  text-transform: uppercase;
  width: 92%;

  @media screen and (min-width: 860px) {
    font-size: 2rem;
  }
}
