%sans {
  font-family: "Nunito", arial, sans-serif;
}

%mono {
  font-family: "monaco", "Consolas", "Lucida Console", monospace;
}

body {
  background-color: $red--light;
  color: $blue--dark;
  @extend %sans;
}
