header[role="banner"]
{
	clear: both;
	overflow: hidden;
	
	h1
	{
		display: none;
	}
	
	h2
	{
		display: inline-block;
		float: right;
		@include botanika(3.2em, 1.45em);
		margin-top: 15%;
		text-align: right;
		width: 80.1732777%;
		
		span
		{
			background-color: #fff;
		}
	}
	
	@media screen and (max-width: 768px) {
		
		h2
		{
			font-size: 2.8em;
			margin-top: 18%;
			width: 100%;
		}
	}
	
	@media screen and (max-width: 480px) {
		
		h2
		{
			font-size: 2em;
		}
	}
}

.rgba header[role="banner"] h2 span
{
	background-color: fade-out(#fff, 0.15);
}