@mixin colorWay($color: #ff0066)
{
	#bigAssJribbble,
	.jribbble-feature h2,
	.playerList h3,
	#fork-me:hover,
	#download a
	{
		background-color: $color;
		@include transition(background-color, .2s);
	}

	#download a:hover
	{
		background-color: darken($color, 10%);
	}

	nav li
	{
		color: $color;
		@include transition(color, .2s);
	}
}

@include colorWay();

@media screen and (max-width: 1560px) {
	@include colorWay(adjust-hue(#ff0066, 50deg));
}

@media screen and (max-width: 1360px) {
	@include colorWay(adjust-hue(#ff0066, 30deg));
}

@media screen and (max-width: 1160px) {
	@include colorWay(#ff0066);
}

@media screen and (max-width: 960px) {
	@include colorWay(darken(adjust-hue(#ff0066, 330deg), 5%));
}

@media screen and (max-width: 768px) {
	@include colorWay(adjust-hue(#ff0066, 310deg));
}

@media screen and (max-width: 480px) {
	@include colorWay(adjust-hue(#ff0066, 280deg));
}