#download
{
	clear: both;
	float: right;
	margin: 1.1em 0 1.4em 0;
	text-align: right;
	width: 73.1732777%;
	
	a
	{
		@include border-radius(32px);
		color: #ececec;
		display: inline-block;
		font-size: 2.5em;
		font-weight: 700;
		line-height: 1.2em;
		padding: 6px 18px 4px 18px;
		text-align: center;
		text-transform: uppercase;
		
		&:hover
		{
			text-decoration: none;
		}
	}
	
	h2
	{
		color: lighten(#676767, 15%);
		font-size: 1em;
		margin: 0.3em 0.8em 0 0;
	}
}