.feature-examples
{
	margin: 1.5em 0;
}

.shotList
{
	display: inline-block;
	overflow: hidden;
	
	li
	{
		background-color: fade-out(#fff, 0.6);
		display: block;
		float: left;
		margin-bottom: 02.4482255%;
		margin-right: 02.4482255%;
		overflow: hidden;
		position: relative;
		padding: 0.4em;
		
		a
		{
			display: block;
			max-height: 152px;
			min-height: 152px;
			min-width: 200px;
			overflow: hidden;
		}
		
		img
		{
			display: block;
			margin: 0 auto;
			@include transition-property(opacity);
			@include transition-duration(.15s);
		}
	}
	
	h3, h4
	{
		opacity: 0;
		position: absolute;
		@include transition-property(opacity);
		@include transition-duration(.15s);
	}
	
	h3
	{
		left: 0.8em;
		line-height: 1.2em;
		font-size: 1.05em;
		font-weight: 700;
		top: 0.9em;
		width: 90%;
	}
	
	h4
	{
		bottom: 0.9em;
		color: lighten(#353535, 10%);
		@include botanika(1em, 1.2em);
		text-align: right;
		width: 90%;
	}
	
	li:hover
	{
		h3, h4
		{
			opacity: 1;
		}
		
		img
		{
			opacity: 0.15;
		}
	}
	
	@media screen and (max-width: 480px) {
		
		width: 100%;
		
		li
		{	
			clear: left;
			overflow: hidden;
			width: 45%;
			
			&:nth-child(2n)
			{
				clear: right;
				float: right;
				margin-right: 0;
			}
			
			a
			{
				max-height: auto;
				min-height: 0;
				min-width: 0;
			}

			img
			{
				width: 100%;
			}
		}
	}
}

.playerList
{
	overflow: visible;
	
	li
	{
		display: inline-block;
		position: relative;
		
		&:hover h3
		{
			opacity: 1;
		}
	}
	
	h3
	{
		color: #fff;
		font-size: 0.9em;
		opacity: 0;
		padding: 0 0.1em;
		position: absolute;
		top: -0.9em;
		white-space: nowrap;
	}
	
	a
	{
		background-color: fade-out(#fff, 0.3);
		display: inline-block;
		float: left;
		margin: 0.2em 0.8em 0.6em 0;
		padding: 0.4em;
		
		img
		{
			display: block;
		}
		
		&:hover
		{
			background-color: #fff;
		}
	}
	
	@media screen and (max-width: 480px) {
		width: 100%;
		
		li
		{	
			width: 25%;
			
			&:nth-child(4n)
			{
				margin-right: 0;
			}

			img
			{
				width: 100%;
			}
		}
	}
}

.twoUp
{
	color: #353535;
	overflow: hidden;
	padding-bottom: 0.5em;
	
	div:first-child
	{
		float: right;
		width: 56.4718163%;
		
		a
		{
			background-color: fade-out(#fff, 0.6);
			display: block;
			max-width: 500px;
			padding: 1em;
		}
		
		img
		{
			width: 100%;
		}
	}
	
	div:last-child
	{
		float: left;
		margin-top: 1em;
		width: 40.1878914%;
		text-align: left;
	}
	
	h3
	{
		font-size: 2.1em;
		font-weight: 700;
		line-height: 0.9em;
		margin-bottom: 0.2em;
	}

	h4
	{
		color: lighten(#353535, 25%);
		@include botanika(1.1em, 1.2em);
	}
	
	ul
	{
		margin-top: 1.1em;
	}

	li
	{
		font-size: 0.95em;
		padding: 0.15em 0;

		b 
		{
			display: inline-block;
			min-width: 5.5em;
			width: 30%;
		}
	}
	
	@media screen and (max-width: 480px) {
		
		div:first-child
		{
			float: none;
			width: 100%;

			a
			{
				padding: 0.5em;
			}
		}
		
		div:last-child
		{
			float: none;
			width: 100%;
		}
	}
}

#shotCommentsList
{
	margin-top: 1.4em;
	
	li
	{
		border-bottom: 1px dashed darken(#ccc, 5%);
		margin-bottom: 0.7em;
		overflow: hidden;
		padding-bottom: 0.7em;
		
		& > a
		{
			background-color: fade-out(#fff, 0.4);
			display: block;
			float: left;
			padding: 0.2em;
			width: 10%;
			
			img
			{
				width: 100%;
			}
		}
		
		&:last-child
		{
			border-bottom: none;
		}
		
		width: 100%
	}
	
	img
	{
		display: block;
	}
	
	h5
	{
		color: lighten(#353535, 25%);
		float: right;
		@include botanika(1em, 1.2em);
		width: 86.2077922%;
	}
	
	p
	{
		float: right;
		font-size: 0.95em;
		margin-top: 0.4em;
		width: 86.2077922%;
	}
}

#playerProfile
{
	color: #353535;
	overflow: hidden;
	
	& > a
	{
		background-color: fade-out(#fff, 0.3);
		display: inline-block;
		float: left;
		margin-right: 0.8em;
		padding: 0.4em;
		
		img
		{
			display: block;
		}
	}
	
	div
	{
		float: left;
		margin-top: 0.4em;
		min-width: 290px;
		width: 56.4384134%;
	}
	
	h3
	{
		font-size: 1.4em;
		font-weight: 700;
		line-height: 0.8em;
		margin-bottom: 0.2em;
	}
	
	h4
	{
		@include botanika(1em, 1.2em);
	}
	
	ul
	{
		border-top: 1px dashed darken(#ccc, 5%);
		@include column-count(2);
		@include column-width(50%);
		margin-top: 0.4em;
		max-width: 300px;
		padding-top: 0.4em;
		width: 80%;
	}	
	
	li
	{
		display: inline-block;
		font-size: 0.95em;
		padding: 0.15em 0;
	}
	
	b 
	{
		display: inline-block;
		min-width: 5em;
		width: 30%;
	}
	
	@media screen and (max-width: 480px) {
		& > a
		{
			width: 16.66666675;
			
			img
			{
				width: 100%;
			}
		}
		
		div
		{
			min-width: 0;
		}

		h3
		{
			font-size: 1.1em;
		}

		h4
		{
			font-size: 0.9em;
		}
		
		ul
		{
			width: 100%;
		}
		
		li
		{
			font-size: 0.85em;
		}
	}
}