.feature-examples
{
	margin: 1.5em 0;
}

.shotList
{
	display: inline-block;
	overflow: hidden;
	
	li
	{
		background-color: fade-out(#fff, 0.6);
		display: block;
		float: left;
		margin-bottom: 02.4482255%;
		margin-right: 02.4482255%;
		overflow: hidden;
		position: relative;
		padding: 0.4em;
		
		a
		{
			display: block;
			min-height: 152px;
			max-height: 152px;
			overflow: hidden;
		}
		
		img
		{
			display: block;
			@include transition-property(opacity);
			@include transition-duration(.15s);
			width: 100%;
		}
	}
	
	h3, h4
	{
		opacity: 0;
		position: absolute;
		@include transition-property(opacity);
		@include transition-duration(.15s);
	}
	
	h3
	{
		left: 0.8em;
		line-height: 1.2em;
		font-size: 1.05em;
		font-weight: 700;
		top: 0.9em;
		width: 90%;
	}
	
	h4
	{
		bottom: 0.9em;
		color: lighten(#353535, 10%);
		@include botanika(1em, 1.2em);
		text-align: right;
		width: 90%;
	}
	
	li:hover
	{
		h3, h4
		{
			opacity: 1;
		}
		
		img
		{
			opacity: 0.15;
		}
	}
}

#shotById
{
	color: #353535;
	overflow: hidden;
	padding-bottom: 0.5em;
	
	div:first-child
	{
		float: right;
		width: 56.4718163%;
		
		a
		{
			background-color: fade-out(#fff, 0.6);
			display: block;
			max-width: 500px;
			padding: 1em;
		}
		
		img
		{
			width: 100%;
		}
	}
	
	div:last-child
	{
		float: left;
		margin-top: 1em;
		width: 40.1878914%;
		text-align: left;
		
		h3
		{
			font-size: 2.1em;
			font-weight: 700;
			line-height: 0.9em;
			margin-bottom: 0.2em;
		}

		h4
		{
			color: lighten(#353535, 25%);
			@include botanika(1.1em, 1.2em);
		}
		
		ul
		{
			margin-top: 1.1em;
		}

		li
		{
			font-size: 0.95em;
			padding: 0.15em 0;

			b 
			{
				display: inline-block;
				min-width: 5.5em;
				width: 30%;
			}
		}
	}
}