.jribbble-feature
{
	overflow: hidden;
	margin: 3em 0;
	padding-bottom: 0.4em;
	
	nav + &
	{
		margin-top: 2em;
	}
	
	&:after
	{
		background-color: lighten(#353535, 40%);
		clear: both;
		color: lighten(#353535, 40%);
		content: '*';
		display: block;
		margin: 0 auto;
		height: 8px;
		width: 8px;
		@include transform(rotate(45deg));
	}
	
	h1
	{
		background-color: fade-out(#fff, 0.3);
		display: inline-block;
		@include botanika(3.1em, 1.2em);
		margin-bottom: 0.1em;
	}
	
	h2
	{
		background-color: $accentColor;
		clear: both;
		color: #ececec;
		display: inline-block;
		@include botanika(1.2em, 1.4em);
		padding: 0.2em 0.4em;
	}
}

.method-description
{
	color: #1F1F1F;
	font-size: 1.1em;
	margin-top: 1.1em;
	overflow: hidden;
	
	li
	{
		border-bottom: 1px dashed darken(#ccc, 5%);
		overflow: hidden;
		padding: 0.8em 0;
		
		&:first-child
		{
			padding: 0.7em 0 0.4em 0;
			
			h3, p
			{
				@include dagny(0.8em);
				font-weight: 700;
			}
		}
	}
	
	h3
	{
		float: left;
		@include botanika(1.1em, 1.2em);
		width: 40.1878914%;
	}
	
	p
	{
		float: right;
		line-height: 1.3em;
		width: 56.4718163%;
	}
}

.example-json
{
	display: none;
}