footer
{
	clear: both;
	float: right;
	@include botanika(1.4em, 1.6em);
	margin-top: 1.4em;
	padding-bottom: 1.4em;
	text-align: right;
	width: 73.1732777%;
	
	p
	{
		background-color: #f8f8f8;
		display: inline;
	}
	
	@media screen and (max-width: 480px) {
		font-size: 1em;
		margin-top: 0em;
		width: 100%
	}
}