footer
{
	margin-top: 0.6em;
	overflow: hidden;
	padding-bottom: 1.8em;
	text-align: right;
	
	em
	{
		clear: both;
		color: lighten(#353535, 15%);
		display: block;
		@include dagny(0.8em);
		padding-top: 1.4em;
		width: 100%;
	}
	
	p
	{
		background-color: #f8f8f8;
		clear: right;
		display: inline-block;
		float: right;
		@include botanika(1.5em, 1.6em);
	}
	
	@media screen and (max-width: 480px) {
		
		p
		{
			font-size: 1em;	
		}
		
		margin-top: 0em;
	}
	
	@media screen and (max-width: 320px) {
		
		p
		{
			font-size: 0.9em;	
		}
		
		margin-top: 0em;
	}
}