#fork-me
{
	background-color: fade-out(#fff, 0.3);
	border-bottom: 2px solid #E0E0E0;
	border-top: 2px solid #E0E0E0;
	color: #000;
	@include botanika(1.1em);
	padding: 8px 42px;
	position: fixed;
	right: -3.5em;
	top: 3.5em;
	@include transform(rotate(43deg));
	width: 11em;
	z-index: 999;
	
	&:hover
	{
		background-color: $accentColor;
		color: #ececec;
		text-decoration: none;
	}
}