body 
{
	background-color: #dfdfdf;
	@include dagny('100%');
}

#bigAssJribbble
{
	background-image: url(../images/branding-die-cut.png);
	background-repeat: no-repeat;
	background-position: -12em -13em;
	height: 454px;
	position: absolute;
	width: 100%;
}

.multiplebgs #bigAssJribbble
{
	background-position: 15% 100%;
	
	$bgSizeWidth: 190%;
	$bgSizeHeight: 140%;
	-moz-background-size: $bgSizeWidth $bgSizeHeight;
	-webkit-background-size: $bgSizeWidth $bgSizeHeight;
	-o-background-size: $bgSizeWidth $bgSizeHeight;
	background-size: $bgSizeWidth $bgSizeHeight;
	
	height: auto;
	padding-top: 45%;
}

a
{
	color: #2f39ff;
	text-decoration: none;
	
	&:hover
	{
		text-decoration: underline;
	}
}