nav
{
	clear: both;
	display: block;
	overflow: hidden;
	
	h1
	{
		background-color: #f8f8f8;
		display: inline-block;
		@include botanika(2.7em, 1.45em);
		margin-top: 1.2em;
	}
	
	ol
	{
		margin-bottom: 2em;
		padding: 0.5em 0 0 0.2em;
	}
	
	li
	{
		background-color: fade-out(#dfdfdf, 0.1);
		border-bottom: 1px dashed darken(#ccc, 5%);
		list-style: decimal inside;
		padding: 0.8em 0.4em;
		
		&:last-child
		{
			border-bottom: none;
		}
		
		&:hover
		{
			background-color: fade-out(#fff, 0.9);
		}
	}
	
	a
	{
		color: #353535;
		font-size: 1.2em;
		line-height: 1.2em;
		padding-left: 0.4em;
		
		&:hover
		{
			color: #2f39ff;
			
			b
			{
				color: #2f39ff;
			}
		}
		
		b
		{
			color: darken(#353535, 5%);
			font-weight: 700;
		}
	}
	
	@media screen and (max-width: 480px) {
		h1
		{
			font-size: 2.2em;
		}
		
		li
		{
			padding: 0.6em 0.3em;
		}
		
		a
		{
			font-size: 1em;
		}
	}
}

.rgba nav h1
{
	background-color: fade-out(#fff, 0.2);
}