/*-------- Welcome to Thunderdome!

	If you're here, I'm guessing you're interested in how I did something or just
	curious to see how I format my CSS? I use SASS & Compass so this file is generated
	from numerous partial CSS files. I've set the SASS output-style to expanded so
	folks like you can still read what's going on in here. It's not the utmost 
	readable formatting, but you can find stuff if you look. Also, if you're really
	interested you can fork get all the source files from the github repo here:
	https://github.com/tylergaw/jribbble.com
	
-----------*/

@import "lib/lib";

@mixin botanika ($font-size, $line-height: 1em)
{
	font: #{$font-size}/#{$line-height} "botanika-mono-web-1", "botanika-mono-web-2", monospace, sans-serif;
}

@mixin dagny ($font-size, $line-height: 1em)
{
	font: #{$font-size}/#{$line-height} "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", sans-serif;
}

@import "colorways", "general", "forkme", "banner", "download", "nav";
@import "content", "features", "examples", "footer";